<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boot.zhiyi.mapper.GunsMapper">
	<select id="getGuns" resultType="com.boot.zhiyi.Po.GunsPo" >
	select * from guns
	</select>

</mapper>
