<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boot.zhiyi.mapper.YoutubeMapper">
	<insert id="addYoutube" parameterType="com.boot.zhiyi.Po.Youtube">
  insert into youtube(name, url) values(#{name}, #{url})
</insert>
<select id="getYoutubeByName" parameterType="String" resultType="com.boot.zhiyi.Po.Youtube">
	select * from youtube 
	where name=#{name}
</select>
<select id="getYoutube"  resultType="com.boot.zhiyi.Po.Youtube">
	select * from youtube 
</select>
<select id="getYoutubeLikeName"  parameterType="String" resultType="com.boot.zhiyi.Po.Youtube">
	select * from youtube 
	where name LIKE CONCAT(CONCAT('%',#{name}),'%')
</select>
</mapper>
